.entry-item {
  width: 100%;

  &-body {
    background-color: #fff;
    width: 100%;
    cursor: pointer;
    padding: 4px 0;
    box-sizing: border-box;
    min-height: 50px;
    word-wrap: break-word;
    word-break: break-all;
    border-bottom: 1px solid #eee;
    .entry-item-username {
      color: rgba(30, 30, 30, .6);
      font-size: 12px;
    }

    img,
    svg {
      max-width: 24px;
      height: 24px;
    }
  }
  &-sort {
    height: 1px;
    width: 100%;
    background-color: #3f51b5;
  }
  &-selected {
    // background-color: rgba(0, 0, 0, 0.8);
    background-color: #ebebeb;
  }

  &-title {
    margin: 10px;
  }
}
