.entry-item {
  width: 100%;

  .entry-item-body {
    background-color: #fff;
    width: 100%;
    cursor: pointer;
    // height: 48px;
    padding: 4px 10px;
    box-sizing: border-box;
    min-height: 50px;
    word-wrap: break-word;
    word-break: break-all;
    border-bottom: 1px solid #eee;
    .entry-item-username {
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px;
    }

    img,
    svg {
      max-width: 24px;
      height: 24px;
      padding-right: 10px;
    }
  }
  .entry-item-sort {
    height: 1px;
    width: 100%;
    background-color: #3f51b5;
  }
  .entry-item-selected {
    // background-color: rgba(0, 0, 0, 0.8);
    background-color: #ebebeb;
  }
}
