.home-loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .home-loading-spinner {
      width: 70px;
      text-align: center;

    & > div {
      width: 18px;
      height: 18px;
      background-color: #212121;
      border-radius: 100%;
      display: inline-block;
      animation: sk-bouncedelay 1s infinite ease-in-out both;
    }

    & .home-loading-bounce1 {
      animation-delay: -0.24s;
    }
    & .home-loading-bounce2 {
      animation-delay: -0.12s;
    }
  }
  @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}

.home {
  width: 100%;
  height: 100%;
}

.home-body {
  width: 100%;
  height: 100%;
  display: flex;

  & > div {
    &:first-child {
      width: 25%;
      height: 100%;
      border-right: 1px solid #eee;
      box-sizing: border-box;
      position: relative;
    }
    &:last-child {
      width: 50%;
      height: 100%;
    }
  }
}

.entry {
    width: 32%;
    height: 100%;
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;

    .entry-body {
      flex: 1;
      user-select: none;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .entry-footer {
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
}

// 暗黑模式
@media (prefers-color-scheme: dark) {
  $darkBorderColor: #565656;
  .home-body > div:first-child {
    border-color: $darkBorderColor;
  }
  .tree-root {
    background-color: #303133;
  }
  .tree-node {
    .tree-node-body {
      background-color: #303133;
      color: #f1f1f1;
      .tree-node-edit-box {
        input {
          border-color: $darkBorderColor;
        }
      }
    }
    .tree-node-preview {
      background-color: #ccc;
      color: #666;
    }
    .tree-node-badge > span {
      background-color: #515151;
      color: #ddd;
    }
    .tree-node-selected {
      background-color: #414141;
    }
    .tree-node-icon-arrow-right::after {
      border-left-color: #ccc;
    }
    .tree-node-icon-arrow-down::after {
      border-bottom-color: #ccc;
    }
  }
  .entry-area > div:first-child {
    border-color: $darkBorderColor;
  }
  .entry-item {
    .entry-item-body {
      background-color: #303133;
      border-color: $darkBorderColor;
      color: #fff;
      .entry-item-username {
        color: #ccc;
      }
    }
    .entry-item-sort {
      background-color: #90caf9;
    }
    .entry-item-selected {
      background-color: #606060;
    }
  }
  .search-body {
    color: #fff;
    .search-list {
      border-color: $darkBorderColor;
      table {
        thead {
          th {
            background-color: #303133;
            color: #ccc;
          }
        }
      }
      .search-selected {
        background-color: #606060;
      }
    }
  }
}
